@import './mixins.scss';

$primary1é : #e74c3c;
@for $i from 1 through 7{
  .circle#{$i}{
    @include cercle($color: darken($primary1é, 5% * $i), $size: 10px * $i , $border: 1px * $i);
    top: 0;
    left: 10px * $i;
    margin: -2px * $i;
    /*darken : foction qui fonce une couleur
    on lui passe une couelur et la quantité en % pour la foncer
    */

    
  }
}

%center-elem{
    display:flex;
    align-items: center;
    justify-content: center;
    
}

.container{
    @extend %center-elem;
}

.cercle8 {
    @include cercle($color: $primary1é, $size: 60px , $border: 4px);
    margin: 30px;

}
.container-cercle1 {
    @extend %center-elem;
    padding: 40px;
    
}

.cercle9 {
    @include cercle($color: $primary1é, $size: 140px , $border: 8px);
    box-shadow: 5px 8px 4px rgb(146, 45, 45) inset, 5px 8px 4px rgb(146, 45, 45);
   margin: 40px;
   
} 
.la-fin {
    @extend %center-elem;
    padding: 40px;
}