$red : #e74c3c;

@for $i from 1 through 7{
  .circle#{$i}{
    display:flex;
    top: 0;
    left: 10px * $i;
    width: 10px * $i;
    height: 10px * $i;
    border: 1px * $i solid  darken($red, 5% * $i);
    border-radius:100%;
    margin: -2px * $i;

    
  }
}


.container{
    display:flex;
    align-items: center;
    justify-content: center;


}

.cercle8 {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 4px solid rgb(146, 45, 45);
    margin: 10px;

}
.container-cercle1 {
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    
}

.cercle9 {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    border: 8px solid rgb(146, 45, 45);
    box-shadow: 5px 8px 4px rgb(146, 45, 45) inset 
   ,5px 8px 4px rgb(146, 45, 45);
   margin: 40px;
   
} 
.la-fin {
    display:flex;
    justify-content: center;
    padding: 40px;
}